<div class="container">
    <div class="container__form">
        <h1 class="title">Ingrese su email</h1>
        <label for="" class="forn-control-label">Recibira un correo con las instrucciones</label>
        <form id="putemail__form" class="form">
            <label>Email</label>
            <input name="email" placeholder="usuario@usuario.com">
            <input type="submit">
        </form>
    </div>
</div>
<script src="/js/putemail.js"></script>